@import 'fonts'
@import 'views'
@import 'colors'


body
    border 0
    padding 0
    margin 0
    font-family "eurostile", Arial, sans-serif

    *
        box-sizing border-box


.flex-cnt
    display flex
    align-items center

    &-btw
        justify-content space-between

    &-around
        justify-content space-around
