.main
    padding-top 5rem
    font-family $font-europe
    text-align center

    &__title
        color $color-important-text
        font-size 3rem
        line-height 1.125

    &__subtitle
        font-weight 400
        color rgba(10, 10, 10, 0.9)
        font-size 1.5rem

    &__devices
        margin 5rem auto 0
        max-width 1344px

        img
            display flex
            max-width 100%
            object-fit contain
