<section class="hero">
    <div class="about_us">
        {% set img="img/me.png" %}
        {% set title="ORLANDO ANDAUR - FULLSTACK" %}
        {% set description="Desarrollador Senior Fullstack con 6 años de experiencia en creación de aplicaciones web. Especializado en JavaScript y Python, con conocimientos en frameworks frontend y backend. Apasionado por la excelencia técnica y soluciones innovadoras. Capacidad para liderar proyectos y trabajar en equipos multidisciplinarios." %}
        <div class="about_us__item">{% include 'molecules/about_us_card.html' %}</div>

        {% set is_reverse = True %}
        {% set img="img/pri.png" %}
        {% set title="PRISCILLA ESCOBAR - FULLSTACK" %}
        {% set description="Desarrolladora Semisenior Fullstack con experiencia en la creación de aplicaciones web. Especializada en tecnologías como JavaScript y Python, con conocimientos en frameworks frontend y backend. Apasionada por el desarrollo de soluciones innovadoras y el trabajo en equipo. Comprometida con la excelencia técnica y el aprendizaje continuo." %}
        <div class="about_us__item">{% include 'molecules/about_us_card.html' %}</div>
    </div>
</section>
